@font-face {
    font-family: Poppins;
    src: url(../resources/Fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Proxima Nova;
    src: url(../resources/Fonts/Proxima\ Nova\ Alt\ Regular.otf);
}

@font-face {
    font-family: Montreal;
    src: url(../resources/Fonts/Montreal\ Regular.otf);
}

@font-face {
    font-family: Aniko Extrabold;
    src: url(../resources/Fonts/Aniko-Extrabold.otf);
}

@font-face {
    font-family: Garcia;
    src: url(../resources/Fonts/Garcia\ Demo-Regular.otf);
}

@font-face {
    font-family: Gilroy;
    src: url(../resources/Fonts/Gilroy-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Gilroy;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

html, body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

.home-page{
    min-height: 100vh;
    width: 100vw;
    background-color: #E3E3DE;
    /* background-image: url(../resources/Backgrounds/background-white.png); */
}

.navigation-bar{
    height: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
}

.logo #fund{
    color: #000;
    letter-spacing: 5px;
    font-size: 6.2vw;
    font-weight: 800;
    font-family: Proxima Nova;
    /* margin-top: .2vh; */

}

.logo #hive{
    color: #6a6a67;
    font-weight: 900;
    margin-left: -5px;
    font-size: 6.2vw;
    font-family: Poppins;
}

.homepage-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

.tagline-left{
    /* margin-left: 3vw; */
    /* text-align: center; */
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    gap: 9px;
}

.tagline-left h1{
    font-size: 8vh;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    font-family: Montreal;
    /* background-image: url(./Resources/background-black.png); */
}

.tagline-right{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.tagline-right h3{
    font-size: 1.5vh;
    text-align: center;
    color: #706963;
    font-family: Poppins;
}

.btn{
    height: 5vh;
    width: 40vw;
    background-color: black;
    /* background-image: url(../resources/background-black.png); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.btn:hover{
    background-color: #F24848;
    transition: ease .5s;
}

.btn a{
    font-family: Montreal;
}

.scroll-box{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #E3E3DE;
}

.scroll-content{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 50vw;
    height: 50vh;
    background-color: #000;
    /* background-image: url(../resources/Backgrounds/background-black.png); */
}

.scroll-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
}

.scroll-heading h1{
    font-family: Montreal;
    color: #CFCFC6;
    font-size: 5vh;
}

.scroll-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-content-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    align-content: center;
    margin-bottom: 5vh;
}

.scroll-content-left h2{
    font-size: 3vh;
    color: #CFCFC6;
    font-family: Poppins;
    font-weight: 600;
}

.scroll-content-right{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.scroll-content-right p{
    font-size: 1.5vh;
    color: #8e8a86;
    font-family: Poppins;
}

#about-page{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    min-height: 100vh;
    width: 100vw;
    background-color: #E3E3DE;
    /* background-image: url(../resources/Backgrounds/background-white.png); */
}

.about-left{
    width: 40%;
    display: none;
}

.about-left h1{
    padding-left: 50px;
    color: #000;
    font-size: 7.5vw;
    font-weight: 900;
    font-family: Aniko Extrabold;
}

.about-right{
    /* width: 90%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-right-heading{
    /* padding: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 50px;
    padding-top: 5vh;
    padding-left: 5vw;
}

.about-right-heading h1{
    align-self: center;
    line-height: 5vh;
    color: #000;
    font-family: Garcia;
    font-weight: 100;
    font-size: 4vh;
    /* text-shadow: 2px 2px 4px black; */
}

.about-right-heading p{
    /* width: 60%; */
    /* padding: 20px 0px; */
    color: #8e8a86;
    font-family: Poppins;

}

.company-details-page{
    height: 80vh;
    width: 100vw;
    background-color: #E3E3DE;
    /* background-image: url(../Resources/Backgrounds/background-white.png); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-details-container{
    height: 80%;
    width: 90%;
    background-color: #000;
    /* background-image: url(../Resources/Backgrounds/background-black.png); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.company-details-heading{
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-details-heading h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vh;
    color: #A19E9A;
}

.company-details-content{
    width: 80%;
    margin-bottom: 5vh;
}

.company-details-content p{
    text-align: center;
    font-size: 1.2vh;
    font-weight: 600;
    color: #CFCFC6;
    font-family: Poppins;
}

#sections{
    margin: 0 3.2vw;
    /* height: 15vh; */
    border-top: 1px solid black;
    /* padding: 10px 15px; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap: 10px; */
    padding: 2vh 2vw;
}

#sections h1{
    /* width: 50%; */
    color: #F34848;
}

#sections p{
    /* width: 30%; */
    color: #000;
}

.plans-page{
    height: 230vh;
    width: 100vw;
    background-color: #E3E3DE;
    /* background-image: url(../Resources/Backgrounds/background-white.png); */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.plans-container{   
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    height: 0vh;
    width: 100vw;
    background-color: #000;
    /* background-image: url(../Resources/Backgrounds/background-black.png); */
}

.plans-heading h1{
    margin-top: 5vh;
    text-align: center;
    font-size: 5vw;
    font-family: Montreal;
    color: #CFCFC6;
    font-weight: 800;
    text-transform: uppercase;
}
.plans-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-title{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-title h1{
    font-family: Poppins;
    font-size: 9vw;
}

.card-title #number{
    font-family: Poppins;
    font-size: 9vw;
}

.card-content{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    width: 75%;
}

.card-content ul{
    margin-left: 5vw;
}

li{
    font-family: Gilroy;
    font-weight: 400;
}

.plans-lets-talk{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.plans-talk-content{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 90%;
}
.plans-talk-content h1{
    color: #CCCCC3;
    font-family: Poppins;
    text-align: left;
    font-weight: 100;
    font-size: 3vw;
}

.plans-talk-button {
    margin-top: 3vh;
    height: 5vh;
    width: 40vw;
    background-color: #F24848;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.plans-talk-button a{
    font-family: Montreal;
}

.plans-talk-button:hover{
    background-color: black;
    transition: ease .5s;
}



.book-now-page{
    height: 100vh;
    width: 100vw;
    background-color: #E3E3DE;
    /* background-image: url(../Resources/Backgrounds/background-white.png); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage-container{
    margin-top: 5vh;
}

.advantage-container h2{
    font-size: 2vh;
    color: #A19E9A;
}

.book-now-page-container{
    gap: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 90%;
    background-color: #000;
    /* background-image: url(../Resources/Backgrounds/background-black.png); */
}

.happen-container{
    margin-top: 1.5vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-content: center;
    align-self: center;
}

.happen-container h1{
    text-transform: uppercase;
    font-family: Montreal;
    font-weight: 800;
    align-content: center;
    align-self: center;
    color: #CFCFC6;
}

#lets-make{
    font-size: 14vw;
}

#happen{
    font-size: 12vw;
}

.button-container{
    margin-top: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 60vw;
    /* background-color: red; */
}

.button-book-now{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #3A3733;
    height: 10vh;
    width: 60vw;
    border-radius: 50px;
    gap: 10px;
}

.button-book-now a{
    font-family: Poppins;
    font-size: 3vh;
}
.button-book-now:hover{
    background-color: #8C8C74;
}


.team-page{
    height: 185vh;
    width: 100vw;
    background-color: #E3E3DE;
    /* background-image: url(../resources/Backgrounds/background-white.png); */
}

.team-page-container{
    height: 95%;
    width: 95%;
    display: flex;
    gap: 10vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.team-heading h1{
    margin-bottom: 3vh;
    text-align: center;
    color: black;
    font-family: Montreal;
    font-size: 15vw ;
    font-weight: 800;
}

.member-card{
    border-radius: 50px;
    gap: 5px;
    height: 50vh;
    width: 70vw;
    background-color: #b0b0ada4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.member-logo img{
    height: 150px;
    border-radius: 50%;
    width: auto;
}
.member-name h1{
    color: black;
    font-family: Montreal;
    font-weight: 600;
    font-size: 6vw;
}
.member-title h3{
    color: rgb(33, 32, 32);
    font-family: Poppins;
    font-weight: 400;
    font-size: 3vw;
}
.member-details p{
    padding: 0px 20px;
    text-align: center;
    font-family: Poppins;
    font-weight: 200;
    color: rgb(56, 55, 55);
    font-size: 3vw;
}
.member-contact-button{
    margin-top: 3vh;
    height: 5vh;
    width: 40vw;
    display: flex;
    background-color: black;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
}
.member-contact-button a{
    font-family: Poppins;
}
.member-contact-button:hover{
    background-color: #3A3733;
}
.footer-page{
    height: 40vh;
    width: 100vw;
    background-color: #E3E3DE;
    /* background-image: url(../Resources/Backgrounds/background-white.png); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container{
    /* height: 95%;
    width: 95%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-left{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 40%; */
    flex-direction: column;

}

.footer-left-content{
    /* width: 70%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5vh;
}

.footer-left-content h1{
    text-align: center;
    color: #3A3733;
    font-family: Montreal;
    font-weight: 800;
    font-size: 7vw;
}

.footer-left-content p{
    color: #86817A;
    font-family: Montreal;
    font-size: 3vw;
    text-align: center;
}

.footer-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* gap: 5vh; */
}

.footer-right-container{
    /* width: 70%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    flex-direction: column;
}

.footer-right-content{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: column;
    gap: 5vh;
}

.logo-footer{
    display: none;
    /* margin-left: 50px; */
    /* margin-top: 35px; */
}

.logo-footer #fund-footer{
    color: #000;
    letter-spacing: 5px;
    font-size: 6.2vw;
    font-weight: 800;
    font-family: Proxima Nova;
    margin-top: 16px;
}

.logo-footer #hive-footer{
    color: #6a6a67;
    font-weight: 900;
    margin-left: -5px;
    font-size: 6.2vw;
    font-family: Poppins;
}

.socials-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 70%;
}

.socials-footer a{
    font-family: Montreal;
    font-weight: 600;
    /* gap: 30px; */
    color: #9C9E9A;
    font-size: 3vw;
}

.socials-footer a:hover{
    color: #393733;
}

.copyright{
    /* padding-bottom: 30vh; */
    /* width: 70%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.copyright h1{
    /* text-align: center; */
    color: #393733;
    font-size: 8vw;
    font-family: Montreal;
    font-weight: 900;
}


@media (min-width: 1024px) {
    .navigation-bar{
        height: 15vh;
    }
    .logo #fund{
        font-size: 4.2vw;
    }
    .logo #hive{
        font-size: 4.2vw;
    }
    .homepage-content{
        flex-direction: row;
    }
    .tagline-left{
        margin-left: 3vw;
        width: 50%;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .tagline-left h1{
        font-size: 22vh;
    }
    .tagline-right{
        width: 50%;
    }
    .tagline-right h3{
        font-size: 2.5vh;
    }
    #tagline-right-content{
        width: 50%;
    }
    .btn{
        height: 7vh;
        width: 15vw;
    }
    .scroll-heading h1{
        font-size: 20vh;
    }
    .scroll-content-container{
        flex-direction: row;
    }
    .scroll-content-left{
        width: 50%;
    }
    .scroll-content-left h2{
        font-size: 8vh;
    }
    .scroll-content-right{
        width: 40%;
        padding: 0 1vw;
    }
    .scroll-content-right p{
        font-size: 3vh;
    }
    #about-page{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .about-container{
        /* padding-top: 15vh; */
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    .about-right{
        width: 70%;
    }
    .about-right-heading{
        display: grid;
        padding-bottom: 15px;
        gap: 1vh;
    }
    .about-left{
        width: 40%;
        display: flex;
    }
    #sections{
        margin: 0 0;
        height: 15vh;
        border-top: 1px solid black;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 10px;
    }
    #sections h1{
        width: 50%;
    }
    #sections p{
        width: 30%;
    }
    .company-details-page{
        height: 100vh;
    }
    .company-details-heading h1{
        font-size: 3vh;
    }
    .company-details-content p{
        font-size: 3.6vh;
        text-align: center;
    }
    .plans-page{
        height: 160vh;
    }
    .plans-container{
        height: 0vh;
    }
    .plans-cards{
        align-items: start;
        flex-direction: row;
        gap: 15vw;
    }
    .card-title h1{
        font-size: 3.5vw;
    }
    .card-title #number{
        font-size: 3.5vw;
    }
    .card-content{
        font-size: 1vw;
        width: 80%;
    }
    .card-left{
        justify-content: start;
    }
    .card-content ul{
        margin-left: 1.5vw
    }
    .plans-talk-content{
        width: 50%;
    }
    .plans-talk-content h1{
        font-size: 2vw;
    }
    .plans-talk-button{
        width: 50%;
    }
    #lets-make{
        font-size: 8vw;
    }
    
    #happen{
        font-size: 7vw;
    }
    .button-container{
        height: 12vh;
        width: 20vw;
    }
    .button-book-now{
        height: 12vh;
        width: 20vw;
    }
    .team-page{
        height: 130vh;
    }
    .team-page-container{
        flex-direction: row;
        width: 100%;
    }
    .team-heading h1{
        font-size: 12vw;
    }
    .member-card{
        height: 80vh;
        width: 25vw;
    }
    .member-name h1{
        font-size: 1vw;
    }
    .member-title h3{
        font-size: 0.8vw;
    }
    .member-details p{
        font-size: 1vw;
    }
    .member-contact-button{
        height: 50px;
        width: 150px;
    }
    .footer-page{
        height: 50vh;
        padding-top: 7vh;
    }
    .footer-container{
        flex-direction: row;
    }
    .footer-left{
        width: 40%;
    }
    .footer-left-content{
        padding-bottom: 15vh;
    }
    .footer-left-content h1{
        font-size: 7vh;
        text-align: left;
    }
    .footer-left-content p{
        font-size: 3vh;
        text-align: left;
    }
    .footer-right-content{
        padding-bottom: 15vh;
    }
    .logo-footer{
        display: flex;
    }
    .copyright h1{
        font-size: 9vh;
    }
    .socials-footer a{
        font-size: 2vh;
    }
}